body { 
    background-color: #212121;
    margin: 0;
    font-family: sans-serif;
    color: white;
}
header {
    background-color: #333333;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 50px;
}
h1 {
    margin-left: 50px;
}
#new-book-btn {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 8%;
    background-image: linear-gradient( 225deg, #1d1d1d 0%, #352446 50%, #262b32 100% );
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-style: hidden;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 350px));
    justify-items: center;
    grid-gap: 20px;
}

.book {
    width: 240px;
    height: 350px;
    background-color: #3B3B3B;
    border: 5px solid #352446;
    border-radius: 5px;
}

.book-info-header {
    padding-left: 10px;
    font-weight: bold;
}

.book-info {
    padding-left: 10px;
    font-style: italic;
}

#read-btn {
    background-color: #004700;
    color: white;
    margin-left: 10px;
    border-style: hidden;
    border-radius: 5px;
    width: 60px;
    height: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
    color: #aaa;
    background-image: linear-gradient( 225deg, #1d1d1d 0%, #352446 50%, #262b32 100% );
    margin: 15% auto;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
}
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#add-new-book-title {
    text-align: center;
}

.book-info-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 2px solid #aaa;
}

.book-info-input-field {
    outline: none;
    background: transparent;
    border: none;
    color: #aaa;
    font-size: inherit;
    font-family: inherit;
    padding: 5px;
}

.book-info-input-read {
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.popup-header {
    font-weight: bold;
}

.book-read {
    color: black;
    position: relative;
    top: 1.5px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.submit {
    border: 2px solid #aaa;
    border-radius: 15px;
    background: transparent;
    color: #aaa;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: inherit;
}

.submit-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    background: #aaa;
    color: #352446;
    cursor: pointer;
}

.read-checkbox {
    margin-left: 10px;
}

.delete-btn {
    margin-top: 8px;
    margin-left: 10px;
    background-color: rgb(117, 3, 3);
    outline-style: hidden;
    color: white;
    border-style: hidden;
    height: 20px;
    cursor: pointer;
    border: 1px solidrgb(117, 3, 3);
    font-family: inherit;
    font-weight: bold;
    border-radius: 3px;
}

.delete-btn:hover {
    border: 1px solid white;
}